body{
    background-color: blanchedalmond;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
header nav {
    display: flex;
    align-items: center;
    
}
nav img{
    margin-right: 50px;
    margin-left: 50px;
}
#allitems {
    display: flex;
    justify-content: space-between;

}


ul{
    float: right;
    margin-right: 200px;
}

.be{
    display: flex;
    
  
}
aside {
    float:left;
    margin-left: 50px;
}
